* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-principal: #202020;
    --bg-botao: #410808;
    --bg-texto: #f5eded;
}

input[type="checkbox"] {
    display: none;
}

a {
    text-decoration: none;
}

i {
    font-size: 1.3rem;
    cursor: pointer;
}

i.fa-moon {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    font-size: var(--font-titulo);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 1px, rgba(0, 0, 0, 0.07) 0px 4px 2px, rgba(0, 0, 0, 0.07) 0px 8px 4px, rgba(0, 0, 0, 0.07) 0px 16px 8px, rgba(0, 0, 0, 0.07) 0px 32px 16px;
}

header h1 a,
header nav ul li a {
    color: #000000;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
}

header nav ul li a {
    position: relative;
    display: inline-block;
}

header nav ul li a::after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	bottom: 0;
	height: 2px;
	margin: -5px 0;
	left: 0;
	background-color: #000000;
	transition: all 0.4s ease-in 0s;
}

header nav ul li a:hover::after {
	width: 100%;
}

header nav ul li:nth-child(2) {
    margin: 0 1.3rem;
}


/* Theme Dark */

.dark {
    background-color: #000000;
}

.dark i.fa-moon {
    display: block;
    color: var(--bg-texto);
}

.dark i.fa-sun {
    display: none;
}

.dark header {
    box-shadow: rgba(255, 255, 255, 0.07) 0px 2px 1px, rgba(255, 255, 255, 0.07) 0px 4px 2px, rgba(255, 255, 255, 0.07) 0px 8px 4px, rgba(255, 255, 255, 0.07) 0px 16px 8px, rgba(255, 255, 255, 0.07) 0px 32px 16px;
}

.dark header h1 a,
.dark header nav ul li a {
    color: var(--bg-texto);
}

.dark header nav ul li a::after {
    background-color:  var(--bg-texto);
}

@media (max-width: 900px) {
    header h1 {
        display: none;
    }
}